/* Чем мы занимаемся */

.work-section {
    padding-top: 0;
}

.occupation {
    display: flex;
}

.occupation__card:not(:last-child) {
    margin-right: 30px;
}

.occupation__card {
    position: relative;
}

.occupation__example {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

    width: 100%;
    height: 70px;
    bottom: 0;

    background-color: rgba(47, 48, 58, 0.8);
}

.occupation__name {
    font-weight: 700;
    font-size: 14px;

    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--white-text-color);
}
